.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
 display: inline-block;
 text-align: center;
 align-items: center;
 width: 3em;
 font-size: 3em;
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.164);
 box-flex-group: red ;
 margin: 1em;
 user-select: none;
 font-family: "MarkPro Medium",center;
 padding: 10px;
 background-image: url("tenor2.png");
 padding: 30px;
 
}
.font {
  font-size: 6em;
  border-style: solid;
  border-color: skyblue;
  font-family: "MarkPro Medium", Times, serif;
  text-align: center;}

.font2 {
  font-size: 3em;
  font-family: "MarkPro Medium", Times, serif;
  text-align: center;}

.activeCard {
 
 background-image: url("tenor.gif");
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
